/compiled/
/.idea/
/.cache/
/.vscode/
*.log
/test-app/
/test-app_old/
/logs/
npm-debug.log*
/lib-cov/
/coverage/
/.nyc_output/
/.grunt/
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.tgz
.env
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pem
*.p12
*.crt
*.csr
/node_modules/
/dist/
/tsconfig.build.tsbuildinfo